{% extends 'base.html' %}

{% block mainbody %}
<div class="col d-flex justify-content-center">
    <div class="col-sm-4 d-flex flex-column">
        <div id="background" class="d-flex flex-column">
<h1>Reset Password</h1>
<form class="reset-form d-flex flex-column" action="{% url 'account:reset' %}" method="post">
    {% csrf_token %}
    {{ form }}
    {% if request.GET.next %}
    <input type="hidden" name="next" value="{{ request.GET.next }}">
    {% endif %}
    <input type="submit" value="Reset">
</form>
        </div>
    </div>
</div>
{% endblock %}